<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calcalc.samps_000.workoutapp" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DarkTheme"
        android:largeHeap="true">
        <activity
            android:name="com.calcalc.samps_000.workoutapp.StartPage"
            android:label="CalCalc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:name="com.calcalc.samps_000.workoutapp.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.calcalc.samps_000.workoutapp.CalcActivity"
            android:label="CalcActivity">
        </activity>

        <activity
            android:name="com.calcalc.samps_000.workoutapp.ResultsActivity"
            android:label="ResultsActivity">
        </activity>

        <activity
            android:name="com.calcalc.samps_000.workoutapp.Settings"
            android:label="settings">
        </activity>

        <activity
            android:name="com.calcalc.samps_000.workoutapp.FoodInfo"
            android:label="@string/title_activity_food_info" >
        </activity>
    </application>

</manifest>
