<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samps_000.workoutapp" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LightTheme"
        android:largeHeap="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CalcActivity"
            android:label="CalcActivity">
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="ResultsActivity">
        </activity>


        <activity
            android:name=".StartPage"
            android:label="startPage"
            android:noHistory = "true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Settings"
            android:label="settings">
        </activity>

        <activity
            android:name=".FoodInfo"
            android:label="@string/title_activity_food_info" >
        </activity>
    </application>

</manifest>
